n8n_w1_lead.json
{
  "name": "Tablecho — Lead entrant site web",
  "nodes": [
    {
      "id": "lead-node-001",
      "name": "Webhook Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [200, 300],
      "webhookId": "PLACEHOLDER_W1",
      "parameters": {
        "httpMethod": "POST",
        "path": "tablecho-lead",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      }
    },
    {
      "id": "lead-node-002",
      "name": "Email Notification François",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [500, 150],
      "parameters": {
        "sendTo": "form.action1pro@gmail.com",
        "subject": "=🆕 Nouveau lead Tablecho — {{ $json.body.nom || $json.nom || 'N/A' }} ({{ $json.body.etablissement || $json.etablissement || 'N/A' }})",
        "message": "=<h2 style=\"color:#1a1a2e;font-family:sans-serif\">🆕 Nouveau lead reçu sur tablecho.com</h2><table style=\"border-collapse:collapse;width:100%;max-width:600px;font-family:sans-serif;font-size:14px;border:1px solid #eee\"><tr><td style=\"padding:10px;border-bottom:1px solid #eee;background:#f9f9f9\"><b>Nom</b></td><td style=\"padding:10px;border-bottom:1px solid #eee\">{{ $json.body.nom || $json.nom || 'N/A' }}</td></tr><tr><td style=\"padding:10px;border-bottom:1px solid #eee;background:#f9f9f9\"><b>Email</b></td><td style=\"padding:10px;border-bottom:1px solid #eee\">{{ $json.body.email || $json.email || 'N/A' }}</td></tr><tr><td style=\"padding:10px;border-bottom:1px solid #eee;background:#f9f9f9\"><b>Téléphone</b></td><td style=\"padding:10px;border-bottom:1px solid #eee\">{{ $json.body.telephone || $json.telephone || 'Non renseigné' }}</td></tr><tr><td style=\"padding:10px;border-bottom:1px solid #eee;background:#f9f9f9\"><b>Établissement</b></td><td style=\"padding:10px;border-bottom:1px solid #eee\">{{ $json.body.etablissement || $json.etablissement || 'Non renseigné' }}</td></tr><tr><td style=\"padding:10px;border-bottom:1px solid #eee;background:#f9f9f9\"><b>Ville</b></td><td style=\"padding:10px;border-bottom:1px solid #eee\">{{ $json.body.ville || $json.ville || 'Non renseigné' }}</td></tr><tr><td style=\"padding:10px;border-bottom:1px solid #eee;background:#f9f9f9\"><b>Note Google</b></td><td style=\"padding:10px;border-bottom:1px solid #eee\">{{ $json.body.note_google || $json.note_google || 'Non renseigné' }}</td></tr><tr><td style=\"padding:10px;border-bottom:1px solid #eee;background:#f9f9f9\"><b>Volume avis/mois</b></td><td style=\"padding:10px;border-bottom:1px solid #eee\">{{ $json.body.volume_avis || $json.volume_avis || 'Non renseigné' }}</td></tr><tr><td style=\"padding:10px;border-bottom:1px solid #eee;background:#f9f9f9\"><b>Profil Quiz</b></td><td style=\"padding:10px;border-bottom:1px solid #eee\">{{ $json.body.profil_quiz || $json.profil_quiz || 'Sans quiz' }}</td></tr><tr><td style=\"padding:10px;border-bottom:1px solid #eee;background:#f9f9f9\"><b>Score Quiz</b></td><td style=\"padding:10px;border-bottom:1px solid #eee\">{{ $json.body.score_quiz || $json.score_quiz || 'N/A' }}/18</td></tr><tr><td style=\"padding:10px;border-bottom:1px solid #eee;background:#f9f9f9\"><b>Message</b></td><td style=\"padding:10px;border-bottom:1px solid #eee\">{{ $json.body.message || $json.message || 'Aucun message' }}</td></tr></table><br><p><a href=\"https://www.notion.so/Tablecho-CRM-Accueil-5851beb1dffb4c3fa554f30cf25c34a9\" style=\"background:#C9A354;color:#1a1a2e;padding:12px 24px;border-radius:6px;text-decoration:none;font-weight:bold;font-family:sans-serif\">→ Ouvrir dans Notion CRM</a></p>",
        "options": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "SiVSco03lOU6mduQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "lead-node-003",
      "name": "Code Notion Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 430],
      "parameters": {
        "jsCode": "// Supporte $json.body.xxx (webhook v2.1) et $json.xxx (fallback)\nconst raw = $input.first().json;\nconst d = raw.body || raw;\n\nconst nom = d.nom || 'Contact site';\nconst today = new Date().toISOString().split('T')[0];\n\nconst properties = {\n  Nom: { title: [{ text: { content: nom } }] },\n  Email: { email: d.email || null },\n  Statut: { select: { name: '\\u{1F195} Nouveau' } },\n  Source: { select: { name: '\\u{1F4DD} Formulaire contact' } },\n};\n\nif (d.telephone) {\n  properties['\\u00E9l\\u00E9phone'] = { phone_number: d.telephone };\n}\nif (d.etablissement) {\n  properties['Restaurant'] = { rich_text: [{ text: { content: d.etablissement } }] };\n}\nif (d.ville) {\n  properties['Ville'] = { rich_text: [{ text: { content: d.ville } }] };\n}\n\nconst noteLines = [\n  d.message || null,\n  d.note_google ? 'Note Google : ' + d.note_google : null,\n  d.volume_avis ? 'Volume avis : ' + d.volume_avis : null,\n  d.profil_quiz ? 'Profil quiz : ' + d.profil_quiz + (d.score_quiz ? ' (score ' + d.score_quiz + '/18)' : '') : null,\n].filter(Boolean);\n\nif (noteLines.length) {\n  properties['Notes'] = { rich_text: [{ text: { content: noteLines.join('\\n') } }] };\n}\n\nreturn [{\n  json: {\n    parent: { database_id: 'bea71342-e846-41ef-b477-fe218aa6793c' },\n    properties\n  }\n}];"
      }
    },
    {
      "id": "lead-node-004",
      "name": "Notion Ajouter Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 430],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer ntn_B98694753864DijXS97gcSFK1robo7dQ7DFRJsrwrVpbd2" },
            { "name": "Notion-Version", "value": "2022-06-28" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json) }}"
      }
    }
  ],
  "connections": {
    "Webhook Lead": {
      "main": [
        [
          { "node": "Email Notification François", "type": "main", "index": 0 },
          { "node": "Code Notion Payload", "type": "main", "index": 0 }
        ]
      ]
    },
    "Code Notion Payload": {
      "main": [
        [
          { "node": "Notion Ajouter Lead", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
